@import 'tailwindcss';

@theme {
  --color-red-150: oklch(0.911 0.047 18.644);
  --color-red-250: oklch(0.847 0.088 21.451);
  --color-red-350: oklch(0.756 0.152 25.425);
  --color-red-450: oklch(0.670 0.214 29.620);
  --color-red-550: oklch(0.607 0.241 33.120);
  --color-red-650: oklch(0.541 0.229 36.018);
  --color-red-750: oklch(0.475 0.195 39.018);
  --color-red-850: oklch(0.420 0.159 42.018);
  --color-orange-150: oklch(0.927 0.057 72.930);
  --color-orange-250: oklch(0.869 0.102 68.494);
  --color-orange-350: oklch(0.793 0.155 61.112);
  --color-orange-450: oklch(0.728 0.198 51.769);
  --color-orange-550: oklch(0.675 0.217 44.360);
  --color-orange-650: oklch(0.600 0.209 39.759);
  --color-orange-750: oklch(0.512 0.176 37.853);
  --color-orange-850: oklch(0.439 0.140 37.738);
  --color-amber-150: oklch(0.943 0.089 95.681);
  --color-amber-250: oklch(0.901 0.145 93.675);
  --color-amber-350: oklch(0.853 0.179 88.017);
  --color-amber-450: oklch(0.798 0.189 77.255);
  --color-amber-550: oklch(0.718 0.183 64.199);
  --color-amber-650: oklch(0.611 0.171 53.658);
  --color-amber-750: oklch(0.514 0.150 47.599);
  --color-amber-850: oklch(0.444 0.124 46.053);
  --color-yellow-150: oklch(0.959 0.100 102.367);
  --color-yellow-250: oklch(0.925 0.155 99.826);
  --color-yellow-350: oklch(0.879 0.191 95.024);
  --color-yellow-450: oklch(0.824 0.192 88.992);
  --color-yellow-550: oklch(0.738 0.173 80.941);
  --color-yellow-650: oklch(0.618 0.149 71.138);
  --color-yellow-750: oklch(0.515 0.124 64.174);
  --color-yellow-850: oklch(0.449 0.105 59.807);
  --color-lime-150: oklch(0.952 0.097 123.325);
  --color-lime-250: oklch(0.917 0.162 125.493);
  --color-lime-350: oklch(0.869 0.217 127.757);
  --color-lime-450: oklch(0.804 0.235 129.850);
  --color-lime-550: oklch(0.708 0.217 131.267);
  --color-lime-650: oklch(0.590 0.178 131.637);
  --color-lime-750: oklch(0.493 0.141 131.261);
  --color-lime-850: oklch(0.429 0.113 130.998);
  --color-green-150: oklch(0.944 0.064 156.369);
  --color-green-250: oklch(0.898 0.117 155.222);
  --color-green-350: oklch(0.832 0.179 153.080);
  --color-green-450: oklch(0.758 0.214 150.645);
  --color-green-550: oklch(0.675 0.207 149.397);
  --color-green-650: oklch(0.577 0.174 149.642);
  --color-green-750: oklch(0.488 0.137 150.698);
  --color-green-850: oklch(0.420 0.107 151.931);
  --color-emerald-150: oklch(0.927 0.072 163.601);
  --color-emerald-250: oklch(0.875 0.118 164.564);
  --color-emerald-350: oklch(0.805 0.160 164.101);
  --color-emerald-450: oklch(0.730 0.173 162.851);
  --color-emerald-550: oklch(0.646 0.158 162.852);
  --color-emerald-650: oklch(0.552 0.132 164.418);
  --color-emerald-750: oklch(0.470 0.106 166.262);
  --color-emerald-850: oklch(0.405 0.086 167.927);
  --color-teal-150: oklch(0.931 0.073 180.613);
  --color-teal-250: oklch(0.883 0.117 180.748);
  --color-teal-350: oklch(0.816 0.145 181.492);
  --color-teal-450: oklch(0.740 0.146 182.207);
  --color-teal-550: oklch(0.652 0.129 183.603);
  --color-teal-650: oklch(0.555 0.107 185.548);
  --color-teal-750: oklch(0.474 0.087 187.303);
  --color-teal-850: oklch(0.411 0.071 188.316);
  --color-cyan-150: oklch(0.936 0.063 204.214);
  --color-cyan-250: oklch(0.891 0.104 206.060);
  --color-cyan-350: oklch(0.827 0.141 209.304);
  --color-cyan-450: oklch(0.752 0.148 213.375);
  --color-cyan-550: oklch(0.662 0.135 218.472);
  --color-cyan-650: oklch(0.565 0.115 222.425);
  --color-cyan-750: oklch(0.485 0.095 223.705);
  --color-cyan-850: oklch(0.424 0.078 225.837);
  --color-sky-150: oklch(0.926 0.042 233.863);
  --color-sky-250: oklch(0.865 0.085 230.610);
  --color-sky-350: oklch(0.787 0.136 231.490);
  --color-sky-450: oklch(0.716 0.165 234.992);
  --color-sky-550: oklch(0.637 0.164 239.644);
  --color-sky-650: oklch(0.544 0.146 242.358);
  --color-sky-750: oklch(0.472 0.122 241.769);
  --color-sky-850: oklch(0.417 0.100 240.833);
  --color-blue-150: oklch(0.907 0.045 254.856);
  --color-blue-250: oklch(0.846 0.082 252.970);
  --color-blue-350: oklch(0.758 0.135 253.219);
  --color-blue-450: oklch(0.665 0.190 257.219);
  --color-blue-550: oklch(0.585 0.229 261.348);
  --color-blue-650: oklch(0.517 0.244 263.628);
  --color-blue-750: oklch(0.456 0.221 265.007);
  --color-blue-850: oklch(0.401 0.172 265.580);
  --color-indigo-150: oklch(0.900 0.050 273.413);
  --color-indigo-250: oklch(0.828 0.090 274.376);
  --color-indigo-350: oklch(0.729 0.148 275.824);
  --color-indigo-450: oklch(0.629 0.208 277.026);
  --color-indigo-550: oklch(0.548 0.247 277.042);
  --color-indigo-650: oklch(0.484 0.251 276.995);
  --color-indigo-750: oklch(0.427 0.217 277.195);
  --color-indigo-850: oklch(0.379 0.169 278.031);
  --color-violet-150: oklch(0.918 0.043 293.936);
  --color-violet-250: oklch(0.853 0.084 293.427);
  --color-violet-350: oklch(0.756 0.147 293.556);
  --color-violet-450: oklch(0.654 0.216 293.129);
  --color-violet-550: oklch(0.574 0.266 292.863);
  --color-violet-650: oklch(0.516 0.276 292.795);
  --color-violet-750: oklch(0.462 0.251 292.670);
  --color-violet-850: oklch(0.406 0.211 293.252);
  --color-purple-150: oklch(0.924 0.048 306.938);
  --color-purple-250: oklch(0.865 0.091 306.543);
  --color-purple-350: oklch(0.770 0.161 305.943);
  --color-purple-450: oklch(0.670 0.234 304.702);
  --color-purple-550: oklch(0.593 0.276 303.111);
  --color-purple-650: oklch(0.527 0.276 302.123);
  --color-purple-750: oklch(0.467 0.241 302.824);
  --color-purple-850: oklch(0.409 0.197 304.356);
  --color-fuchsia-150: oklch(0.927 0.056 319.236);
  --color-fuchsia-250: oklch(0.868 0.110 320.527);
  --color-fuchsia-350: oklch(0.786 0.192 321.797);
  --color-fuchsia-450: oklch(0.704 0.266 322.155);
  --color-fuchsia-550: oklch(0.629 0.294 322.523);
  --color-fuchsia-650: oklch(0.554 0.273 323.423);
  --color-fuchsia-750: oklch(0.485 0.232 324.270);
  --color-fuchsia-850: oklch(0.426 0.191 325.101);
  --color-pink-150: oklch(0.923 0.044 342.745);
  --color-pink-250: oklch(0.861 0.090 344.625);
  --color-pink-350: oklch(0.770 0.161 347.889);
  --color-pink-450: oklch(0.687 0.222 352.034);
  --color-pink-550: oklch(0.624 0.245 177.446);
  --color-pink-650: oklch(0.558 0.236 2.271);
  --color-pink-750: oklch(0.492 0.205 3.886);
  --color-pink-850: oklch(0.433 0.170 3.123);
  --color-rose-150: oklch(0.916 0.044 11.290);
  --color-rose-250: oklch(0.851 0.088 10.819);
  --color-rose-350: oklch(0.761 0.155 12.533);
  --color-rose-450: oklch(0.678 0.220 14.934);
  --color-rose-550: oklch(0.615 0.249 17.012);
  --color-rose-650: oklch(0.550 0.237 17.260);
  --color-rose-750: oklch(0.485 0.205 15.316);
  --color-rose-850: oklch(0.432 0.173 11.985);
  --color-slate-150: oklch(0.949 0.010 251.702);
  --color-slate-250: oklch(0.899 0.017 254.201);
  --color-slate-350: oklch(0.786 0.031 254.841);
  --color-slate-450: oklch(0.629 0.043 257.102);
  --color-slate-550: oklch(0.500 0.044 257.349);
  --color-slate-650: oklch(0.409 0.043 257.284);
  --color-slate-750: oklch(0.326 0.042 258.659);
  --color-slate-850: oklch(0.243 0.042 262.893);
  --color-gray-150: oklch(0.948 0.005 264.536);
  --color-gray-250: oklch(0.900 0.008 261.435);
  --color-gray-350: oklch(0.789 0.016 259.832);
  --color-gray-450: oklch(0.629 0.025 262.844);
  --color-gray-550: oklch(0.499 0.028 260.583);
  --color-gray-650: oklch(0.409 0.032 258.268);
  --color-gray-750: oklch(0.326 0.034 258.291);
  --color-gray-850: oklch(0.244 0.034 260.757);
  --color-zinc-150: oklch(0.944 0.003 286.347);
  --color-zinc-250: oklch(0.895 0.005 286.303);
  --color-zinc-350: oklch(0.788 0.010 286.177);
  --color-zinc-450: oklch(0.629 0.015 286.002);
  --color-zinc-550: oklch(0.497 0.017 285.862);
  --color-zinc-650: oklch(0.406 0.015 285.796);
  --color-zinc-750: oklch(0.322 0.009 285.919);
  --color-zinc-850: oklch(0.242 0.006 285.959);
  --color-neutral-150: oklch(0.946 0.000 0.000);
  --color-neutral-250: oklch(0.896 0.000 0.000);
  --color-neutral-350: oklch(0.789 0.000 0.000);
  --color-neutral-450: oklch(0.632 0.000 0.000);
  --color-neutral-550: oklch(0.498 0.000 0.000);
  --color-neutral-650: oklch(0.405 0.000 0.000);
  --color-neutral-750: oklch(0.320 0.000 0.000);
  --color-neutral-850: oklch(0.237 0.000 0.000);
  --color-stone-150: oklch(0.947 0.002 77.571);
  --color-stone-250: oklch(0.896 0.004 52.541);
  --color-stone-350: oklch(0.789 0.007 56.313);
  --color-stone-450: oklch(0.631 0.011 57.165);
  --color-stone-550: oklch(0.499 0.012 65.855);
  --color-stone-650: oklch(0.409 0.010 70.599);
  --color-stone-750: oklch(0.321 0.009 50.928);
  --color-stone-850: oklch(0.242 0.007 45.171);
}
